.top{
  padding:100px;
  background-color:#F9F3EE;
  left:20px;

}
h1
{
color:black;
  margin:0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:200%;
  font-weight:bolder;
}
body
{
  position:relative;
  text-align:center;
  margin:0;
}
.topcloud
{
  position:absolute;
  right:350px;
  top:50px;

}
.bottomcloud
{
position:absolute;
left:350px;
top:50px;
}
.l1
{

border-width: 14px;
width:7%;
height:12px;
border-style: dotted none none none;
border-color: brown;
}
.l2
{
  border-width: 14px;
  width:7%;
  height:12px;
  border-style: dotted none none none;
  border-color: brown;
}
.l3
{
  border-width: 14px;
  width:7%;
  height:12px;
  border-style: dotted none none none;
  border-color: brown;
}
.l4{
  border-width: 14px;
  width:7%;
  height:12px;
  border-style: dotted none none none;
  border-color: brown;
}
p{
  font-size:100%;
  font-weight:bold;
  font-family: 'Open Sans', sans-serif;
  font-size-adjust: auto;
}
